html,
body,
.v-application {
    font-family: "Lato", sans-serif !important;
}

a {
    color: #0a0a0a !important;
    text-decoration: none;
}

.text-right {
    float: right;
}

.grey-text {
    color: #707070;
}

.light-grey-text {
    color: #b7b7b7;
}

.f14 {
    font-size: 14px;
}

.v-btn,
.v-btn__content {
    text-transform: capitalize;
    font-size: 16px;
}

.link-text {
    color: #707070;
    font-size: 14px;
}